.svg-path{
  height: 300px;
  width: 318px;
  margin-top: 32px;
  margin-left: 216px;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
}
.svg-img{
  height: 357px;
  width: 380px;
  margin-left: 187px;
  position: fixed;
  mix-blend-mode:overlay;
  opacity: 0.5;
  z-index: 11;
}
.p-bar{
  margin-left: 30px; 
}